<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08_模板</title>
</head>
<body>

<!-- jinja2的变量 -->
<h1>{{ user }}</h1>

<ul>
    <li>{{ books.0 }}</li>
    <li>{{ books.1 }}</li>
    <li>{{ books.2 }}</li>
    <li>{{ books.3 }}</li>
</ul>

<p>{{ book_dict.金瓶梅.price }}</p>

<hr>

<!-- jinja2的过滤器

过滤器名称                        说明
capitalize                     把值的⾸字母转换成⼤写，其他⼦母转换为⼩写
lower	                        把值转换成⼩写形式
title	                        把值中每个单词的⾸字母都转换成⼤写
trim	                        把值的⾸尾空格去掉
striptags	                    渲染之前把值中所有的HTML标签都删掉
join	                        拼接多个值为字符串
round	                        默认对数字进⾏四舍五⼊，也可以⽤参数进⾏控制
safe	                        渲染时值不转义
-->
<p>{{ user | capitalize }}</p>
<p>{{ user | lower }}</p>
<p>{{ user | title }}</p>
<p>{{ user | trim }}</p>
<p>{{ "hello world" | replace('world', 'yuan') | upper }}</p>
<p>{{ 3.1415926 | round }}</p>
<p>{{ 3.1415926 | round(3) }}</p>
<p>{{ 3.1415926 | round(3) | int }}</p>

<hr>
<!--
jinja2的控制结构

分支控制
{% if age > 18 %}

    <p>成年区</p>

{% else %}

    <p>未成年区</p>

{% endif %}

循环控制
{% for book in books %}
    <p>{{ book }}</p>
{% endfor %}
-->

{% if age >= 18 %}
    <ul>
        {% for book in books %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>未成年区</p>
{% endif %}



</body>
</html>